.card {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 392px;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12);
}

.card-front {
  border: 1px solid #ccc;
}

.card-back {
  transform: rotateY(180deg);
  border: 1px solid #ccc;
}

/* Add a wrapper for the flipping animation */
.card.flipping {
  transform-origin: center 140%; /* Move origin point below the card */
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
